.form-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #9c9c9c;
    border-radius: 10px;
    width: 800px;
    padding: 25px;
    background: #fff;
}

.name{
    display: inline-block;
    width: 25%;
}

.passwd{
    display: inline-block;
    width: 31%;
}

.email{
    input{
        width: 160%;
    }
}

.transfer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.btn{
    font: 400 13.3333px Arial;
    display: inline-block;
    left: inherit;
    margin-left: 330px;
    margin-top: -40px;
}

.line{
    display: block;
    margin-top: 30px;
}

.logo{
    display: inline-block;
    position: inherit;
    height: 50px;
    width: 50px;
    top: 10%;
    left: 55%;
    bottom: 100%;
    right: 105%;
    transform: translate(85%,85%);
}

@media screen and (max-width: 800px) {
    .form-content{
        width: 600px;
    }    
}

@media screen and (max-width: 600px) {
    .form-content{
        width: 400px;
    }    

    .name{
        display: grid;
    }

    .logo{
        display: none;
    }

    .btn{
        margin-left: 270px;
    }

    .passwd{
        display: grid;
    }

    .email{
        input{
            display: block;
            width: 80%;
        }
    }
}

@media screen and (max-width: 400px) {
    .form-content{
        width: 300px;
    }    

    .logo{
        display: none;
    }

    .name{
        display: grid;
    }

    .btn{
        margin-left: 170px;
    }

    .email{
        input{
            display: block;
            width: 100%;
        }
    }
}