.header{
    background-color: white;
    border-bottom: 1px solid gray; 
    padding: 40 40 40 40;
}

.bars{
    height : 15px;
    width: 15px;

}

.title{
    color:grey;
}

.keep{
    color:black;
    margin-left: 20px;
    margin-right: 10px;
    height: 50px;
    width: 50px;
}

input{
    width: 700px;
    height: 35px;
    
}