<div class="main-container">
  <div>
    <header class="header header-6">
      <div class="branding">
        <div class="nav-link">
          <cds-icon shape="bars" size="lg" (click)="resize()" status="info"></cds-icon>
          <img src="../../../assets/images/keep.png" name="keep" class="keep" alt="keep_image">
          <span style="color: gray" class="title">Keep</span>
        </div>
      </div>
      <form class="search">
        <label for="search_input">
          <input id="search_input" type="text" placeholder="Search for keywords..." />
        </label>
      </form>
      <div class="header-actions">
        <a href="" class="nav-link nav-icon" aria-label="settings">
          <cds-icon shape="cog" status="info"></cds-icon>
        </a>
      </div>
    </header>
  </div>
  <div class="content-container">
    <clr-vertical-nav [clrVerticalNavCollapsible]="true" [(clrVerticalNavCollapsed)]="collapsed">
      <a clrVerticalNavLink>
        <cds-icon clrVerticalNavIcon shape="lightbulb"></cds-icon>
        Notes
      </a>
      <a clrVerticalNavLink>
        <cds-icon clrVerticalNavIcon shape="bell"></cds-icon>
        Reminders
      </a>
      <a clrVerticalNavLink>
        <cds-icon clrVerticalNavIcon shape="pencil"></cds-icon>
        Edit labels
      </a>
      <a clrVerticalNavLink>
        <cds-icon clrVerticalNavIcon shape="archive"></cds-icon>
        Archive
      </a>
      <a clrVerticalNavLink>
        <cds-icon clrVerticalNavIcon shape="trash"></cds-icon>
        Trash
      </a>
    </clr-vertical-nav>
    <div fxLayout="row" fxLayoutAlign="center" class="content-area">
      <app-display></app-display>
    </div>
  </div>
</div>