.main-content{
    padding: 40 40 40 40;
    font-size: 20px;
    font-family: roboto,'Noto Sans Myanmar UI',arial,sans-serif;
    display: inline-block;
    font-weight: 700;

    .text1{
        color: blue;
    }
    
    .text2{
        color: red;
    }
    
    .text3{
        color: yellow;
    }
    
    .text4{
        color: blue;
    }
    
    .text5{
        color: green;
    }
    
    .text6{
        color: red;
    }
}