.form-main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid #9c9c9c;
    border-radius: 10px;
    width: 400px;
    height: 500px;
    padding: 25px;
    background: #fff;
    padding: 40px;
}

.email{
    input{
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .form-main{
        width: 350px;
    }    

    .email{
        input{
            display: block;
            width: 100%;
        }
    }

}

::ng-deep clr-input-container .clr-control-container {
    display: block;
    width: 100%;
  } 