<div>
    <form clrForm [formGroup]="form" (ngSubmit)="submit()" class="form-main">
      <div>
        <app-fundooheader fxLayout="column" fxLayoutAlign="space-between center"></app-fundooheader>
        <div fxLayout="column" fxLayoutAlign="space-between center">
          <h2>Reset Password</h2>
        </div>
        <div fxLayout="column" fxLayoutAlign="space-between center">
          <h3>Reset your Account Password</h3>
        </div>
        <div class="name" fxLayout="row" fxLayoutAlign="start center">
            <clr-password-container>
                <label>New</label>
                <input placeholder="Enter Password" formControlName="password" clrPassword name="password" required />
                <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
                <clr-control-error *clrIfError="'minlength'">It must be at least 8 characters!</clr-control-error>
              </clr-password-container>
        </div>
        <div class="name" fxLayout="row" fxLayoutAlign="start center">
          <clr-password-container>
            <label>Confirm </label>
            <input placeholder="Confirm Password" formControlName="password" clrPassword name="password" required />
            <clr-control-error *clrIfError="'required'">This field is required!</clr-control-error>
            <clr-control-error *clrIfError="'minlength'">It must be at least 8 characters!</clr-control-error>
          </clr-password-container>
        </div><br>
        <div fxLayout="row" fxLayoutAlign="space-between center">
          <a routerLink="/login">Login</a>
          <button type="submit" class="btn btn-primary">Next</button>
        </div>
      </div>
    </form>
</div>
  