<div fxLayout="row" fxLayoutAlign="start center" class="content-area">
    <div *ngIf='!show' (click)='show=!show' class="card1">
        <label for="" class="note" style="margin-top: 10px;">Take a note...</label>
    </div>
    <div class="card2" *ngIf='show' class="form">
        <div class="card-header">
            <textarea placeholder="Title" clrTextarea class="title" name="title" required></textarea>
        </div>
        <div class="card-block">
            <div class="card-text">
                <textarea placeholder="Description" clrTextarea class="description" name="description"
                    required></textarea>
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-link" (click)="show=!show">Close</button>
        </div>
    </div>