.card1{
    width: 600px;
    min-height:20px;
    border: 1px solid grey;
    border-radius: 10px;
    box-shadow: "inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);";
    background-color: white;
    justify-content: center;
    outline: none;
    padding: 15px;
}

.card2{
    width: 600px;
    min-height: 150px;
    box-shadow: "inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);";
   
}

.form{
    // border: 1px solid gray;
    // border-radius: 10px;
    width: 600px;
    min-height: 300px;
}

.note{
    display: initial;
    padding: 12px 10px;
}

.title{
    width: 100%;
    height: 50px;
    margin-bottom: -30px;
    border-style: hidden;
    outline : none;
}

.description{
    width: 100%;
    border-style: hidden;
    outline: none;
}

.btn{
    align-items: bottom;

}

.newnote{
    margin-top:20px;
    margin-right: 20px;
    margin-bottom: 20px;
    width:200px;
    min-height: 40px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    padding: 12px 12px;
}

// .note-contents{
//     display: flex;
//     flex-wrap: wrap;
// }

.icon{
    margin-right: 140px;
    .bell, .user , .clr , .img, .arch{
        margin-right: 10px;
    }
}

.title-new{
    height: 40px;
    border: none;
    margin-bottom: -6px;
    font-weight: 600;
}

.description-new{
    height: 80px;
    border: none;
}

.title-new1{
    height: 60px;
    margin-bottom: -30px;
    border: none;
    width: 500px;
}

.icons{
    margin-bottom: 8px;
}

.description-new1{
    height: 80px;
    border: none;
    width: 500px
}

.newnote1{
    border: none;
}